# Virtual environment
.venv/
env/
venv/

# PyCharm files
.idea/

# macOS system files
.DS_Store

# Python cache files
__pycache__/
*.py[cod]
.pytest_cache/

# Logs
*.log

# Other unnecessary files
*.swp

